@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
	--ui-font:
		'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
	font-family: var(--ui-font);
	margin: 0;
	padding: 0;
}

html,
body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
