@import url("https://rsms.me/inter/inter.css");
@import "../styles/colors.css";
@import "../styles/animations.css";

:root {
	--ui-font: "Geist", "Inter", "Segoe UI", Roboto, Arial;
}

html,
body {
	font-family: var(--ui-font);
	overflow-x: hidden;
	scrollbar-width: none;
}
